<form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="todo-form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Başlık</mat-label>
    <input matInput formControlName="title" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Açıklama</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!todoForm.valid">
    Ekle
  </button>
</form>
